#cms_menu img{
  width: 100px;
  height: auto;
}
#cms_menu {
  z-index: 10;
position: fixed;
background-color:rgb(247, 247, 247) ;
bottom: 20px;
border-style: solid;
border-color: rgb(121, 121, 119);
border-width: 1px;
overflow: scroll;
max-height: 500px;
max-width: 50%;
}

#cms_menu ul li{
  float: left;
  margin-left: 10px;
  list-style-type: none;
  background-color: rgb(18, 241, 141);  
  border-radius: 3px;
  padding: 10px;
}
#cms_menu ul li a{
  text-decoration:none;
  color: rgb(0, 0, 0)
}