#top_menu {
  z-index: 3;
  background-color: rgb(30, 31, 30);
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  height: 50px;
  color: white;
}
#top_menu ul li {
  float: Left;
  list-style-type: none;
  padding-right: 10px;
}
#search {

width: 100px;
right: 10px;
}
#search input{
  margin-top: 10px;
  height: 20px;
}
#txtHint {
  background-color: rgb(148, 148, 148);
  z-index: 3;
  position: absolute;
}
#top_menu a {
  color: white;
  font-size:15px;
  text-decoration:none;
}

#blank_space {
  height:50px;
}
#search_wrapper {
  width: 33.3%;

}
#logo_wrapper {

  width: 200px;
}
#logo_wrapper img{
height: 100%;
width: 100%

}
#navigation_wrapper {

  width: 100%
}