#rss_toggle{
  
  z-index: 10;
  position: fixed;
  right: 0;
}
#rss_feed{
  top: 0;
  overflow: scroll;
  z-index: 4;
  position: fixed;
  background-color: rgba(0, 0, 0,0.6);
  right: 0;
  max-width: 500px;
  height: 100%;
   overflow-x: hidden;
}
#rss_feed table{
  background-color: white;
}
